### import raw dataset

In [10]:
import pandas as pd
import numpy as np

import ast
import json
from pandas.io.json import json_normalize

In [41]:
# # read in the json file as a single string, then parse it into a list with each entry in the list representing one business
# # the entries in the resulting list are strings which can be parsed into dictionaries using json.loads()

# path = 'dataset/business.json'

# with open(path) as f:
#     entries = f.read().split('}\n{')
    
# for idx, entry in enumerate(entries):
#     if idx == 0:
#         entries[idx] = entries[idx] + '}'
#     elif idx == len(entries)-1:
#         entries[idx] = '{' + entries[idx]
#     else:
#         entries[idx] = '{' + entries[idx] + '}'

# print(len(entries))

In [40]:
# # parse each entry for one business as dictionary, flatten nested dictionaries and return as a dataframe, then combine entries of all businesses into one dataframe

# dfs=[]
# for idx, entry in enumerate(entries):
#     # parse string as dictionary
#     d = json.loads(entry) 
#     # normalize/flatten nested dictionary and return as a dataframe
#     df = json_normalize(d)  # nested records will generate names separated by '.'
#     dfs.append(df)
# business = pd.concat(dfs, axis=0)
# business.columns

# # to simplify the code using list comprehension
# business = pd.concat([json_normalize(json.loads(entry)) for entry in entries], axis=0)
# print(business.info())
# business.columns

In [52]:
# # parse each entry for one business as dictionary, keeping nested dictionaries as simple strings and combine entries of all businesses into one dataframe
# %time
# %mprun

# df = pd.DataFrame(index=np.arange(len(entries)), columns = ['business_id','name','neighborhood','address','city','state','postal_code','latitude','longitude',
#                              'stars','review_count','is_open','attributes','categories','hours'])

# for idx, entry in enumerate(entries):
#     # parse string as dictionary
#     d = json.loads(entry)
#     for k, v in d.items():
#         df.loc[idx, k] = str(v)

In [46]:
%run -i 'json_to_csv_1.py' 'dataset/business.json'

In [47]:
buz_1 = pd.read_csv('dataset/business.csv')
print(buz_1.info())
print(buz_1.head(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 15 columns):
review_count    188593 non-null int64
address         180970 non-null object
business_id     188593 non-null object
state           188593 non-null object
latitude        188587 non-null float64
longitude       188587 non-null float64
stars           188593 non-null float64
postal_code     187912 non-null object
is_open         188593 non-null int64
attributes      162807 non-null object
name            188593 non-null object
neighborhood    68655 non-null object
city            188583 non-null object
categories      188052 non-null object
hours           143791 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 21.6+ MB
None
   review_count            address             business_id state   latitude  \
0            24  1314 44 Avenue NE  Apn5Q_b6Nz61Tq4XzPdf9A    AB  51.091813
1             3                NaN  AjEbIBw6ZFfln7ePHha9PA    NV  35.960734

    longitude  stars postal_code  is_open  \
0 -114.031675    4.0     T2E 6L6        1
1 -114.939821    4.5       89002        0

                                          attributes                  name  \
0  {'BikeParking': 'False', 'BusinessAcceptsCredi...  Minhas Micro Brewery
1  {'Alcohol': 'none', 'BikeParking': 'False', 'B...   CK'S BBQ & Catering

  neighborhood       city                                         categories  \
0          NaN    Calgary  Tours, Breweries, Pizza, Restaurants, Food, Ho...
1          NaN  Henderson  Chicken Wings, Burgers, Caterers, Street Vendo...

                                               hours
0  {'Monday': '8:30-17:0', 'Tuesday': '11:0-21:0'...
1  {'Friday': '17:0-23:0', 'Saturday': '17:0-23:0...

In [48]:
%run -i 'json_to_csv_2.py' 'dataset/business.json'

In [50]:
buz_2 = pd.read_csv('dataset/business.csv')
print(buz_2.info())
print(buz_2.head(1))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188593 entries, 0 to 188592
Data columns (total 61 columns):
address                                  180970 non-null object
hours.Tuesday                            140607 non-null object
attributes.Caters                        40038 non-null object
attributes.BusinessParking               103424 non-null object
attributes.RestaurantsPriceRange2        107120 non-null float64
attributes.RestaurantsTableService       43325 non-null object
attributes.RestaurantsAttire             48182 non-null object
attributes.Ambience                      47577 non-null object
attributes.ByAppointmentOnly             45423 non-null object
attributes.BYOB                          911 non-null object
attributes.HasTV                         47533 non-null object
categories                               188052 non-null object
attributes.BestNights                    6844 non-null object
attributes.NoiseLevel                    43710 non-null object
attributes.GoodForDancing                9162 non-null object
review_count                             188593 non-null int64
business_id                              188593 non-null object
attributes.BikeParking                   84891 non-null object
hours.Sunday                             93387 non-null object
attributes.BusinessAcceptsCreditCards    140391 non-null object
attributes.Corkage                       657 non-null object
hours.Saturday                           125376 non-null object
attributes.OutdoorSeating                54181 non-null object
longitude                                188587 non-null float64
attributes.HairSpecializesIn             1881 non-null object
attributes.Smoking                       8113 non-null object
attributes.AcceptsInsurance              11671 non-null object
attributes.RestaurantsReservations       51363 non-null object
hours                                    143791 non-null object
attributes.WheelchairAccessible          52023 non-null object
hours.Friday                             141796 non-null object
state                                    188593 non-null object
attributes.HappyHour                     9285 non-null object
hours.Wednesday                          141843 non-null object
attributes.WiFi                          49026 non-null object
attributes.AgesAllowed                   397 non-null object
attributes.Alcohol                       47892 non-null object
attributes.GoodForMeal                   47483 non-null object
postal_code                              187912 non-null object
is_open                                  188593 non-null int64
neighborhood                             68655 non-null object
hours.Monday                             132761 non-null object
attributes.GoodForKids                   64931 non-null object
attributes.DriveThru                     6754 non-null object
attributes.BYOBCorkage                   1409 non-null object
attributes.DietaryRestrictions           138 non-null object
attributes.Music                         8807 non-null object
latitude                                 188587 non-null float64
attributes.CoatCheck                     8531 non-null object
attributes.Open24Hours                   352 non-null object
attributes.BusinessAcceptsBitcoin        12674 non-null object
stars                                    188593 non-null float64
attributes.DogsAllowed                   13681 non-null object
attributes.RestaurantsGoodForGroups      53839 non-null object
attributes                               162807 non-null object
attributes.RestaurantsDelivery           51668 non-null object
attributes.RestaurantsCounterService     397 non-null object
name                                     188593 non-null object
attributes.RestaurantsTakeOut            61206 non-null object
city                                     188583 non-null object
hours.Thursday                           142359 non-null object
dtypes: float64(4), int64(2), object(55)
memory usage: 87.8+ MB
None
             address hours.Tuesday attributes.Caters  \
0  1314 44 Avenue NE     11:0-21:0               NaN

                          attributes.BusinessParking  \
0  {'garage': False, 'street': True, 'validated':...

   attributes.RestaurantsPriceRange2 attributes.RestaurantsTableService  \
0                                2.0                                NaN

  attributes.RestaurantsAttire attributes.Ambience  \
0                       casual                 NaN

  attributes.ByAppointmentOnly attributes.BYOB      ...       stars  \
0                          NaN             NaN      ...         4.0

  attributes.DogsAllowed attributes.RestaurantsGoodForGroups  \
0                    NaN                                True

                                          attributes  \
0  {'BikeParking': 'False', 'BusinessAcceptsCredi...

  attributes.RestaurantsDelivery  attributes.RestaurantsCounterService  \
0                          False                                   NaN

                   name attributes.RestaurantsTakeOut     city hours.Thursday
0  Minhas Micro Brewery                          True  Calgary      11:0-21:0

[1 rows x 61 columns]

In [44]:
user = pd.read_csv('dataset/user.csv')

In [45]:
print(user.info())
print(user.head(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1518169 entries, 0 to 1518168
Data columns (total 22 columns):
compliment_cool       1518169 non-null int64
elite                 1518169 non-null object
useful                1518169 non-null int64
user_id               1518169 non-null object
compliment_writer     1518169 non-null int64
review_count          1518169 non-null int64
funny                 1518169 non-null int64
compliment_list       1518169 non-null int64
compliment_profile    1518169 non-null int64
compliment_note       1518169 non-null int64
yelping_since         1518169 non-null object
friends               1518169 non-null object
compliment_hot        1518169 non-null int64
cool                  1518169 non-null int64
fans                  1518169 non-null int64
compliment_photos     1518169 non-null int64
name                  1517693 non-null object
compliment_more       1518169 non-null int64
compliment_plain      1518169 non-null int64
compliment_funny      1518169 non-null int64
compliment_cute       1518169 non-null int64
average_stars         1518169 non-null float64
dtypes: float64(1), int64(16), object(5)
memory usage: 254.8+ MB
None
   compliment_cool elite  useful                 user_id  compliment_writer  \
0                0  None       0  lzlZwIpuSWXEnNS91wxjHw                  0
1                0  None       0  XvLBr-9smbI0m_a7dXtB7w                  0

   review_count  funny  compliment_list  compliment_profile  compliment_note  \
0             1      0                0                   0                0
1             2      0                0                   0                0

       ...       compliment_hot cool  fans  compliment_photos      name  \
0      ...                    0    0     0                  0     Susan
1      ...                    0    0     0                  0  Daipayan

   compliment_more compliment_plain  compliment_funny  compliment_cute  \
0                0                0                 0                0
1                0                0                 0                0

   average_stars
0            2.0
1            5.0

[2 rows x 22 columns]

In [51]:
review = pd.read_csv('dataset/review.csv')
print(review.info())
print(review.head(2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5996996 entries, 0 to 5996995
Data columns (total 9 columns):
user_id        object
text           object
useful         int64
business_id    object
date           object
cool           int64
review_id      object
funny          int64
stars          int64
dtypes: int64(4), object(5)
memory usage: 411.8+ MB
None
                  user_id                                               text  \
0  msQe1u7Z_XuqjGoqhB0J5g  The pizza was okay. Not the best I've had. I p...
1  msQe1u7Z_XuqjGoqhB0J5g  I love this place! My fiance And I go here atl...

   useful             business_id        date  cool               review_id  \
0       0  iCQpiavjjPzJ5_3gPD5Ebg  2011-02-25     0  x7mDIiDB3jEiPGPHOmDzyw
1       0  pomGBqfbxcqPv14c3XH-ZQ  2012-11-13     0  dDl8zu1vWPdKGihJrwQbpw

   funny  stars
0      0      2
1      0      5